
# Google Gemini API Key
GEMINI_API_KEY="<gemini_api_key>"

# Pinecone
PINECONE_API_KEY="<pinecone_api_key>"
INDEX_NAME="<pinecone_index_name>"

# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="<langsmith_api_key>"
LANGSMITH_PROJECT="<langsmith_project_name>"

# Tavily Search
TAVILY_API_KEY="<tavily_api_key>"
